html, body { margin: 0; padding: 0; font-family: "Times", "Times New Roman", serif; font-size:1em;  letter-spacing: .025em;}
.header { background-color: #47A03C; margin: 0; padding: .2em; color: white;}
.header a:link, .header a:visited { color: white; font-style:italic;}
h1 { text-align: center; font-family: "Monaco", "MPW", monospaced; letter-spacing: -.05em; font-weight:normal;}
h1 a {font-weight:bold;}
h2 {margin-top: 1.5em;}
h3 {padding-top: 0; margin-top: 0;}
p {margin-left: 1.5em; margin-right: 1.5em;}
.body { margin: auto; width: 50em; padding-top: .5em;}
.example {border: 1px solid #ccc; float: right; background: #eee; padding: 1em; margin: 1em; }
.example ul {padding-left: 1.5em; }
address { padding: 1.5em; color: #555; text-align: center;}
code, pre { background-color: #eee;}
pre { padding: 1em; }
a:link  {color: #377e10; }
a:visited  {color:#777;}